# apache httdp + tomcat
web:
  build: web
  ports:
    - "80:80"
    - "8080:8080"
  volumes:
    - ./webapps:/tomcat/webapps
    - ./www:/var/www
    - ./data/aduna:/root/.aduna/openrdf-sesame

  restart: always

worker:
  build: worker
  links:
      - web
      - redis
  volumes:
    - ./d1lod:/d1lod
    - ./glharvest:/glharvest
    - ./www:/www
  environment:
    - PYTHONPATH=$PYTHONPATH:/glharvest:/d1lod/:/usr/lib/python2.7/dist-packages
  restart: always

scheduler:
  build: scheduler
  links:
    - web
    - redis
  volumes:
    - ./d1lod:/d1lod
    - ./glharvest:/glharvest
    - ./www:/www
  environment:
    - PYTHONPATH=$PYTHONPATH:/glharvest:/d1lod/:/usr/lib/python2.7/dist-packages
  restart: always

redis:
  image: redis:3.0.5
  volumes:
    - ./data/redis:/redis

  restart: always
